//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_38keys.h"

#define ___ &trans

#define meh(x) LS(LC(LA(x)))

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define SYM 2
#define NUM 3


ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// tap: sticky shift | double tap: capsword
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)


// one handed app switcher
ZMK_BEHAVIOR(swapper, tri_state,
    bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
    ignored-key-positions = <LT2>;
)

// one handed window cycler
ZMK_BEHAVIOR(cycler, tri_state,
    bindings = <&kt LGUI>, <&kp GRAVE>, <&kt LGUI>;
    ignored-key-positions = <LT2>;
)

ZMK_COMBO(combo_copy,   &kp LG(C),  LB2 LB3, ALL)
ZMK_COMBO(combo_paste,  &kp LG(V),  LB1 LB2, ALL)
ZMK_COMBO(combo_cut,    &kp LG(X),  LB1 LB3, ALL)
ZMK_COMBO(combo_undo,   &kp LG(Z),  LB1 LB2 LB3, ALL)

ZMK_COMBO(combo_esc,    &kp ESC,    LM1 LM2, ALL)
ZMK_COMBO(combo_enter,  &kp ENTER,  LM2 LM3, ALL)
ZMK_COMBO(combo_tab,    &kp TAB,    LT3 LT2, ALL)

ZMK_COMBO(combo_lpar,   &kp LPAR,   RM1 RM2, ALL)
ZMK_COMBO(combo_lbkt,   &kp LBKT,   RB1 RB2, ALL)
ZMK_COMBO(combo_lbrc,   &kp LBRC,   LT1 LM1, ALL)

ZMK_COMBO(combo_rpar,   &kp RPAR,   RM2 RM3, ALL)
ZMK_COMBO(combo_rbkt,   &kp RBKT,   RB2 RB3, ALL)
ZMK_COMBO(combo_rbrc,   &kp RBRC,   RT1 RM1, ALL)


ZMK_LAYER(default_layer,
                &kp W        &kp L        &kp Y          &kp P           &kp B               &kp Z       &kp F        &kp O        &kp U        &kp SEMI
                &hrm LSHFT C &hrm LALT R  &hrm LCTRL S   &hrm LGUI T     &kp G               &kp M       &hrm RSHFT N &hrm RCTRL E &hrm RALT I  &hrm RGUI A
    &kp Q       &kp Q        &kp J        &kp V          &kp D           &kp K               &kp X       &kp H        &kp COMMA    &kp DOT      &kp FSLH    &kp BSLH
                                          &kp DEL        &lt NUM BSPC   &lt NAV SPACE        &ss_cw      &sl SYM      &kp BSPC
)

ZMK_LAYER(nav_layer,
                ___               &kp LC(LS(TAB))    &kp LC(TAB)         &swapper             &cycler                 &kp Z       &kp F       &kp O       &kp U       &kp SEMI
                &hrm LSHFT meh(A) &hrm LALT meh(S)  &hrm LCTRL meh(D)   &hrm LGUI meh(F)     &kp meh(G)              &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT  &hrm RGUI A
    ___         ___               ___               ___                 ___                  &kp meh(B)              &kp X       &kp H       &kp COMMA   &kp DOT     &kp FSLH    ___
                                                    ___                 ___                  ___                     ___         ___          ___
)


ZMK_LAYER(sym_layer,
                &kp AT       &kp EXCL    &kp AMPS    &kp PIPE       &kp TILDE               ___         &kp GRAVE   &kp HASH    ___      ___
                &kp STAR     &kp MINUS   &kp UNDER   &kp EQUAL      &kp DOLLAR              &kp CARET   &kp COLON   &kp SQT     &kp DQT  &kp SEMI
           ___  &kp BLSH     ___         ___         &kp PLUS       ___                     ___         &kp PERCENT &kp LT      &kp GT   &kp QMARK ___
                                         ___         ___            ___                     ___         ___         ___

)


ZMK_LAYER(num_layer,
                 ___       ___       ___       ___       ___                                 ___       &kp N7      &kp N8   &kp N9  ___
                ___       ___       ___       ___       ___                                  ___       &kp N4      &kp N5   &kp N6  ___
    ___         ___       ___       ___       ___       ___                                  ___       &kp N1      &kp N2   &kp N3  ___    ___
                                        ___   ___       ___                                  &kp N0    &kp COMMA   &kp DOT
)
