//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_38keys.h"

#define ___ &trans

#define meh(x) LS(LC(LA(x)))

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define SYM 2
#define NUM 3
#define ADJ 4


ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

// tap: sticky shift | double tap: capsword
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)


// one handed app switcher
ZMK_BEHAVIOR(swapper, tri_state,
    bindings = <&kt LGUI>, <&kp TAB>, <&kt LGUI>;
    ignored-key-positions = <LT2>;
)

// one handed window cycler
ZMK_BEHAVIOR(cycler, tri_state,
    bindings = <&kt LGUI>, <&kp GRAVE>, <&kt LGUI>;
    ignored-key-positions = <LT2>;
)

/*                                      38 KEY MATRIX / LAYOUT MAPPING

    ╭────────────────────┬────────────────────╮        ╭──────────────────────┬─────────────────────╮
    │  0   1   2   3   4 │  5   6   7   8   9 │        │  LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
 ╭──╯ 10  11  12  13  14 │ 15  16  17  18  19 ╰───╮ ╭──╯  LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 ╰───╮
 │ 20 21  22  23  24  25 │ 26  27  28  29  30  31 │ │ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
 ╰──────────╮ 32  33  34 │ 35  36  37 ╭───────────╯ ╰──────────╮  LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
            ╰────────────┴────────────╯                        ╰──────────────┴─────────────╯
*/



ZMK_COMBO(combo_copy,   &kp LG(C),  LB2 LB3, ALL)
ZMK_COMBO(combo_paste,  &kp LG(V),  LB1 LB2, ALL)
ZMK_COMBO(combo_cut,    &kp LG(X),  LB1 LB3, ALL)
ZMK_COMBO(combo_undo,   &kp LG(Z),  LB1 LB2 LB3, ALL)

ZMK_COMBO(combo_esc,    &kp LPAR,      LM1 LM2, ALL)
ZMK_COMBO(combo_enter,  &kp ESC,       LM2 LM3, ALL)
ZMK_COMBO(combo_tab,    &kp TAB,       LT3 LT2, ALL)
ZMK_COMBO(combo_bktt,   &kp LBKT,      LM1 LT2, ALL)
ZMK_COMBO(combo_swap,   &kp LG(TAB),   LT2 LM2, ALL)

ZMK_COMBO(combo_bspc,   &kp BSPC,   RM1 RM2, ALL)
ZMK_COMBO(combo_delw,   &kp LA(BSPC),   RM2 RM3, ALL)
ZMK_COMBO(combo_lbkt,   &kp LBKT,   RB1 RB2, ALL)
ZMK_COMBO(combo_lbrc,   &kp LBRC,   LT1 LM1, ALL)

ZMK_COMBO(combo_rpar,   &kp RPAR,   RM2 RM3, ALL)
ZMK_COMBO(combo_rbkt,   &kp RBKT,   RB2 RB3, ALL)
ZMK_COMBO(combo_sqt,    &kp SQT,   RT1 RM1, ALL)
ZMK_COMBO(combo_dqt,    &kp DQT,   RT1 RT2, ALL)


ZMK_LAYER(default_layer,
                &kp W        &kp L        &kp Y          &kp P           &kp B               &kp Z       &kp F        &kp O        &kp U        &sk LSHFT
                &hrm LSHFT C &hrm LALT R  &hrm LCTRL S   &hrm LGUI T     &kp G               &kp M       &hrm RGUI N &hrm RCTRL E &hrm RALT I  &hrm RSHFT A
    &kp W       &kp Q        &kp J        &kp V          &kp D           &kp K               &kp X       &kp H        &kp COMMA    &kp DOT      &kp FSLH    &kp BSLH
                                          &kp DEL        &lt NUM ENTER   &lt NAV SPACE       &ss_cw      &sl SYM      &kp LGUI
)

ZMK_LAYER(nav_layer,
                ___               &kp LC(LS(TAB))    &kp LC(TAB)         &swapper             &cycler                 &kp Z       &kp F       &kp O       &kp U       &kp SEMI
                &hrm LSHFT meh(A) &hrm LALT meh(S)  &hrm LCTRL meh(D)   &hrm LGUI meh(F)     &kp meh(G)              &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT  &hrm RGUI A
    ___         ___               ___               ___                 ___                  &kp meh(B)              &kp X       &kp H       &kp COMMA   &kp DOT     &kp FSLH    ___
                                                    ___                 ___                  ___                     &mo ADJ         ___          ___
)


ZMK_LAYER(sym_layer,
                &kp AT       &kp CARET   &kp DOLLAR  &kp PERCENT    &kp TILDE               &kp GRAVE    &kp EXCL   &kp AMPS    &kp PIPE  ___
                &kp MINUS    &kp STAR    &kp UNDER   &kp COLON      &kp BSLH                &kp CARET    &kp RPAR   &kp RBKT    &kp RBRC   &kp HASH
           ___  &kp PLUS     ___         ___         &kp PLUS       &kp GRAVE               &kp GRAVE    &kp SEMI   &kp LT      &kp GT    &kp QMARK ___
                                         ___         ___            &kp EQUAL               ___         ___         ___

)


ZMK_LAYER(num_layer,
                 ___      &kp F9     &kp F10      &kp F11      &kp F12                             &kp LS(F13)       &kp N7      &kp N8   &kp N9  ___
                ___       &kp F17     &kp F18       &kp F19    &kp F20                             &kp LS(F14)       &kp N4      &kp N5   &kp N6  ___
    ___         ___       &kp F13     &kp F14       &kp F15    &kp F16                             &kp LS(F15)       &kp N1      &kp N2   &kp N3  ___    ___
                                     ___          ___          ___                                 &kp N0    &kp COMMA   &kp DOT
)

ZMK_LAYER(adj_layer,
                 ___      &kp F9     &kp F10      &kp F11      &kp F12                                 &kp LS(F13)       &kp C_BRI_DN      &kp C_BRI_UP   &kp N9  ___
                ___       &kp F5     &kp F6       &kp F7       &kp F8                                  &kp LS(F14)       &kp C_VOL_DN      &kp C_VOL_UP   &kp K_MUTE  ___
    ___         ___       &kp F1     &kp F2       &kp F3       &kp F4                                  &kp LS(F15)       &kp C_PREV        &kp C_PP       &kp C_NEXT  ___    ___
                                     ___          ___          ___                                     &kp N0    &kp COMMA   &kp DOT
)
